<config>
    <region-prefix/>
    <passport>
        <email-login>false</email-login>
        <edit-display-name>true</edit-display-name>
        <set-password>true</set-password>
        <admin-name>Enonic Travels webmaster</admin-name>
        <admin-email>sales@enonic.com</admin-email>
        <join-group-keys/>
        <groups>
            <group key="group-1-key">Group 1 name</group>
            <group key="group-2-key">Group 2 name</group>
        </groups>
    </passport>
    <parameters>
        <parameter path="/en" name="front-page" key="21">/en/home</parameter>
        <parameter path="/en" name="search-result">/en/home/search-result</parameter>
        <parameter path="/en" name="sitemap">/en/home/sitemap</parameter>
        <parameter path="/en" name="rss">/en/rss</parameter>
        <parameter path="/no" name="front-page" key="160">/no/forsiden</parameter>
        <parameter path="/no" name="search-result">/no/forsiden/søkeresultat</parameter>
        <parameter path="/no" name="sitemap">/no/forsiden/nettstedskart</parameter>
        <parameter path="/no" name="rss">/no/rss</parameter>
        <parameter path="/" name="google-tracker">123123123</parameter>
        <parameter path="/" name="google-verify">asdasdasdas</parameter>
        <parameter path="/" name="meta-generator">Enonic CMS</parameter>
        <parameter path="/" name="meta-author">Enonic</parameter>
    </parameters>
    <accessibility>
        <access-key key="m" text="accessibility-text-main-menu" anchor="menu-main" />
        <access-key key="s" text="accessibility-text-sub-menu" anchor="menu-sub" />
        <access-key key="c" text="accessibility-text-center" anchor="center" />
    </accessibility>
    <device-classes>
        <device-class name="pc,unknown">
            <layout>
                <area width="950">
                    <region name="north">
                        <width>950</width>
                        <margin>
                            <bottom>10</bottom>
                        </margin>
                    </region>
                </area>
                <area width="950">
                    <region name="west">
                        <width>180</width>
                        <margin>
                            <right>10</right>
                        </margin>
                    </region>
                    <region name="center">
                        <padding>
                            <right>30</right>
                            <left>30</left>
                            <top>30</top>
                            <bottom>30</bottom>
                        </padding>
                        <scalable>true</scalable>
                        <system>true</system>
                    </region>
                    <region name="east">
                        <width>180</width>
                        <margin>
                            <left>10</left>
                        </margin>
                    </region>
                </area>
                <area width="950">
                    <region name="south">
                        <width>950</width>
                    </region>
                </area>
            </layout>
            <image>
                <filters>
                    <filter>rounded(4)</filter>
                </filters>
                <sizes>
                    <size name="full">
                        <filter>scalewidth</filter>
                        <width>1</width>
                    </size>
                    <size name="wide">
                        <filter>scalewide</filter>
                        <width>1</width>
                        <height>0.4</height>
                    </size>
                    <size name="regular">
                        <filter>scalewidth</filter>
                        <width>0.4</width>
                    </size>
                    <size name="list">
                        <filter>scalewidth</filter>
                        <width>0.3</width>
                    </size>
                    <size name="square">
                        <filter>scalesquare</filter>
                        <size>0.4</size>
                    </size>
                    <size name="thumbnail">
                        <filter>scalesquare</filter>
                        <size>0.1</size>
                    </size>
                </sizes>
            </image>
            <styles>
                <style>/_public/themes/travel/ui-custom-theme/jquery-ui-1.7.2.custom.css</style>
                <style>/_public/themes/travel/all.css</style>
                <style>/_public/themes/travel/all-beach.css</style>
                <style>/_public/themes/travel/pc.css</style>
                <style>/_public/themes/travel/pc-beach.css</style>
                <style condition="lt IE 8">/_public/sites/advanced/ie.css</style>
                <style>/_public/themes/travel/beach.css</style>
            </styles>
            <scripts>
                <script>/_public/libraries/jquery/scripts/jquery-1.4.2.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery.validate.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery-ui-1.7.2.custom.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery.tooltip.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery.cookie.js</script>
                <script>/_public/themes/travel/scripts/common-all.js</script>
                <script>/_public/themes/travel/scripts/common-pc.js</script>
            </scripts>
        </device-class>
        <device-class name="mobile">
            <layout>
                <area width="320">
                    <regions>
                        <region name="north">
                            <width>296</width>
                            <padding>
                                <left>12</left>
                                <right>12</right>
                                <top>12</top>
                                <bottom>12</bottom>
                            </padding>
                        </region>
                        <region name="center">
                            <width>296</width>
                            <padding>
                                <left>12</left>
                                <right>12</right>
                                <top>12</top>
                                <bottom>12</bottom>
                            </padding>
                        </region>
                        <region name="south">
                            <width>296</width>
                            <padding>
                                <left>12</left>
                                <right>12</right>
                                <top>12</top>
                                <bottom>12</bottom>
                            </padding>
                        </region>
                    </regions>
                </area>                    
            </layout>
            <image>
                <filters>
                    <filter>rounded(4)</filter>
                </filters>
                <sizes>
                    <size name="full">
                        <filter>scalewidth</filter>
                        <width>1</width>
                    </size>
                    <size name="wide">
                        <filter>scalewide</filter>
                        <width>1</width>
                        <height>0.4</height>
                    </size>
                    <size name="regular">
                        <filter>scalewidth</filter>
                        <width>0.4</width>
                    </size>
                    <size name="list">
                        <filter>scalewidth</filter>
                        <width>0.3</width>
                    </size>
                    <size name="square">
                        <filter>scalesquare</filter>
                        <size>0.4</size>
                    </size>
                    <size name="thumbnail">
                        <filter>scalesquare</filter>
                        <size>0.1</size>
                    </size>
                </sizes>
            </image>
            <styles>
                <style>/_public/themes/travel/all.css</style>
                <style>/_public/themes/travel/all-beach.css</style>
                <style>/_public/themes/travel/mobile.css</style>
                <style>/_public/themes/travel/ui-custom-theme/jquery-ui-1.7.2.custom.css</style>
                <style>/_public/themes/travel/mobile/beach.css</style>
            </styles>
            <scripts>
                <script>/_public/libraries/jquery/scripts/jquery-1.4.2.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery.validate.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery-ui-1.7.2.custom.min.js</script>
                <script>/_public/libraries/jquery/scripts/jquery.cookie.js</script>
                <script>/_public/themes/travel/scripts/common-all.js</script>
                <script>/_public/themes/travel/scripts/common-mobile.js</script>
            </scripts>
        </device-class>
    </device-classes>

</config>
