/**************
 * CUSTOM CSS *
 **************/

/* Blueprint override */
body {font-size:100%;color:#333;background:#F3F3F3 url(images-mobile/background-body.gif) repeat-x;font-family:'Trebuchet MS',sans-serif;}
a:focus, a:hover {color:#1a6291;text-decoration:none;}
a {color:#1a6291;text-decoration:none;}

/* framework */
#header {background:#1a6393 url(images-mobile/headerbg.gif) repeat-x;height:36px;}

#top-menu {
    padding:2px 0;
    font-size: 72%;
    float: right;
}

#top-menu * {
    float: left;
}

#top-menu a {
    color: #fff;
    margin: 5px 0 6px 10px;
}

#top-menu img {
    margin: 0 0 0 2px;
}

#footer {color:#999;font-size:.6em;}
#footer img {float:left;margin:0 5px 0 0;}

/* Frame */
#center .frame {
    margin-bottom: 10px;
    border-style: solid;
    border-color: #b3b3b3;
}

/* User menu */
ul.user {color:#fff;float:right;list-style-type:none;margin:0;}
ul.user li {text-align:right;}
ul.user ul {display:none;list-style-type:none;margin:0;}
ul.user li {margin-bottom:1px;float:left;padding-right:1px;}
ul.user div {cursor:pointer;padding:5px 15px 5px 5px;margin-right:5px;background:transparent url(images/arrow-open.gif) no-repeat right center;}
ul.user a {background:transparent url(images/usermenubg.png);padding:3px 5px;}
ul.user a:hover {background:#fff;}

/* menu */
.bullet {
    background: transparent no-repeat 10px 4px;
}

#navigation {
    background: #f2f2f2 url(images-mobile/bar.gif) repeat-x left 1px;
}

#navigation a.plus {
    background-image: url(images-mobile/bullet-plus.png);
}

#navigation a.minus {
    background-image: url(images-mobile/bullet-minus.png);
}

#navigation, #menu {
    font-family:georgia,sans-serif;
}

#navigation a {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 5px 12px 5px 41px;
    color: #333;
    font-weight: bold;
}

#menu {
    border-bottom: 1px solid #ccc;
    display: none;
}

#menu, #menu ul {
    list-style-type: none;
    float: left;
    margin: 0;
}

#menu li {
    float: left;
    background: #f2f2f2;
    border-top: 1px solid #ccc;
}

#menu li.active div, #menu li.active a{
    color: #1a6291;
}


#menu li.active li div, #menu li.active li a{
    color: #333;
}

#menu li.first {
    border: 0;
}

#menu ul li.first {
    border-top: 1px solid #ccc;
}

#menu a, #menu div {
    display: block;
    color: #333;
    float: left;
    padding: 5px 12px 5px 26px;
    width: 282px;
}

#menu a.closed, #menu a.open {
    background: transparent no-repeat 10px 12px;
}

#menu a {
    width: 249px;
    padding-right: 0;
}

#menu a.closed {
    background-image: url(images-mobile/arrow-closed.png);
}

#menu a.open {
    background-image: url(images-mobile/arrow-open.png);
}

#menu a.arrow {
    width: 25px;
    padding: 5px 10px;
    background-image: url(images-mobile/bullet-arrow.png);
}

#menu ul a, #menu ul div {
    padding-left: 42px;
    width: 266px;
}

#menu ul a.open, #menu ul a.closed {
    background-position: 26px 12px;
}

#menu ul a {
    width: 233px;
}

#menu ul ul a, #menu ul ul div {
    padding-left: 58px;
    width: 250px;
}

#menu ul ul a.open, #menu ul ul a.closed {
    background-position: 42px 12px;
}

#menu ul ul a {
    width: 217px;
}

/* Article */
p.preface {
    font-size: 120%;
}

/* events */
#time-location {
    background-color: #e2e2e2;
    padding: 6px 10px;
}

#event-list p {
    display: none;
}

.date {
    border: 1px solid #1B6393;
    float: left;
    font-weight: bold;
    margin: 0 15px 10px 0;
    width: 50px;
    text-decoration: none;

}

.date span {
    display: block;
    text-align: center;
}

.day {
    background-color: #dde8ef;
    color: #1B6393;
    padding: 2px;
    font-size: 180%;
}

.month {
    background: #1B6393;
    color: #fff;
    padding: 2px 2px 1px;
    text-transform: uppercase;
}

/* Video */
.video.list .play-icon.dummy {
    background-color: #dfdfdf;
}

/* File archive */
#file-archive .column {
    border-bottom: 1px solid #dfdfdf;
}

#file-archive a {
    color: #333;
}

#file-archive .heading {
    font-weight: bold;
    background-color: #dfdfdf;
}