/**************
 * CUSTOM CSS *
 **************/

#header, #outer-container, #footer {margin:0 auto;padding:0 10px;position:relative;}
#header {width:950px;height:208px;margin:0 auto;}
#logo-screen {width:146px;height:65px;position:absolute;top:30px;left:38px;}
#breadcrumb-trail a, #footer a {color:#fff;text-decoration:none;}
#north {margin-bottom:10px;}
#center {min-height:300px;}
#footer {padding:20px 10px 10px;color:#b6b0ab;width:950px;margin:0 auto;}
#footer p {margin:0;}
#footer img {width:69px;height:30px;float:right;margin-left:20px;}
#footer a img {width:auto;height:auto;}
#footer img.icon.text {float:left;width:auto;height:auto;margin:0 5px;}
a.device-class {float:left;margin-top:20px;}
body {font-size:72%;font-family:'Trebuchet MS',sans-serif;color:#332f2d;background:#eeece5 url(images/bodybg.jpg) repeat-x center top;}
a:focus, a:hover {text-decoration:none;color:#335ab3;}
a {color:#335ab3;}
#outer-container {background-color:#332f2d;padding:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
#breadcrumb-trail {background-color:#4b4743;color:#b6b0ab;padding:7px 10px 6px;position:relative;-moz-border-radius:4px;-webkit-border-radius:4px;margin-bottom:10px;}
#center, div.frame {background:#fff;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;}
#footer p {color:#75726f;}
#footer a {color:#335ab3;}

/* Wrappers */
#outer-container {
    width:950px;
} 

/* Regions */
#east, #center, #right, #west {
    float:left;
}

/* Frame */
#west .frame, #center .frame, #east .frame {
    margin-bottom: 10px;
}

.frame {
    padding:10px;
}

#center .frame {
    border-style: solid;
    border-color: #b5b1ad;
    border-width:1px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* flags */
ul.flags li {
    padding: 8px 0 5px 10px;
}

#text-size {
    padding-top: 5px;
}

ul.flags a {
    color: #fff;
}

#text-size a {
    margin: 0 0 0 5px;
    font-size: .9em;
    display: inline;
}

#text-size a.change-text-size {
    font-size: 1em;
    margin: 0;
}

#text-size a.large-text {
    font-size: 1.15em;
}

#text-size a.largest-text {
    font-size: 1.25em;
}

/* Header content */
#header-content {position:absolute;right:0;}
.header-content.bottom {color:#fff;padding:4px 10px 4px 0;height:48px;margin-top:8px;}
.only-bottom .header-content.bottom {margin-top:42px;}
.header-content.bottom * {float:left;}
.header-content.bottom fieldset, .header-content.bottom ul {border:0;margin:0;padding:13px 0 0 10px;}
.header-content.bottom.logged-in ul {padding-left:0;}
.header-content.bottom fieldset {padding:13px 10px 0 0;}
.header-content.bottom select {width:auto!important;}

.header-content.bottom ul a, .header-content.bottom div, .header-content.bottom label {
    color: #fff;
    padding: 2px 10px 3px;
    width: auto;
}

.header-content.bottom img.user-image.clickable {
    cursor: pointer;
}

.header-content.bottom img.user-image {
    margin: 0 0 0 4px;
}

.header-content {-moz-border-radius:4px;-webkit-border-radius:4px;background:transparent url(images/topmenubg.png);float:right;}
.header-content.top {padding-right:10px;-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;-moz-border-radius-topright:0;-webkit-border-top-right-radius:0;}
.header-content.bottom input, .header-content.bottom select {border:0;padding:3px 5px;margin:1px 0;width:150px;-moz-border-radius:2px;-webkit-border-radius:2px;}
 
/* Main menu */
ul.menu.main {
    margin-bottom: 10px;
    overflow:hidden;
    background: url("images/menubg.png") no-repeat scroll center top #8C847D;
    background-position: left top!important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-color: #D0CBC5 #524E4A #524E4A #D0CBC5;
    border-style: solid;
    border-width: 1px;
    
}
ul.menu.main a, ul.menu.main div {
    font-family:georgia,sans-serif;
    white-space: nowrap;
    overflow: hidden;
}

ul.menu.main.level2 a:hover, ul.menu.main.level2 a.active, ul.menu.main.level2 div.active, ul.menu.main.level2 a.path, ul.menu.main.level2 div.path {
    color: #fff;
}

ul.menu.main.level1 a:hover, ul.menu.sub a:hover {
    background-color: #7b746e;
}

 ul.menu.main.level1 a.active, ul.menu.main.level1 div.active, ul.menu.main.level1 a.path, ul.menu.main.level1 div.path, ul.menu.sub a.active, ul.menu.sub div.active, ul.menu.sub a.path, ul.menu.sub div.path {
    background-color: #3a65c7;
    border-color: #b4c2e2 #173884 #173884 #b4c2e2;
}

ul.menu.main.level2 {
    background-color:#4b4743;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

ul.menu.main.level2 a, ul.menu.main.level2 div {
    padding: 7px 10px 6px;
    color: #B6B0AB;
}

ul.menu.main.level1 a.first, ul.menu.main.level1 div.first, ul.menu.sub a, ul.menu.sub div {
    background-position: left top!important;
    border-width:0 1px 0 0;
}

ul.menu.main.level1 a.last, ul.menu.main.level1 div.last, ul.menu.sub a, ul.menu.sub div {
    background-position: right top;
    border-width:0 0 0 1px;
}

ul.menu.main.level1 a, ul.menu.main.level1 div, ul.menu.sub a, ul.menu.sub div {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: #8c847d url(images/menubg.png) no-repeat center top;
    padding: 3px 10px 4px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #d0cbc5 #524e4a #524e4a #d0cbc5;
}

/* Sub menu */
ul.menu.sub ul {
    margin-top: 5px;
}

ul.menu.sub li {
    margin-bottom: 10px;
}

ul.menu.sub li li, ul.menu.sub ul ul {
    margin: 0;
}

ul.menu.sub a, ul.menu.sub div {
    text-align: left!important;
    font-family:georgia,sans-serif;
}

ul.menu.sub li li a:hover {
    background: none;
}

ul.menu.sub li li a, ul.menu.sub li li div {
    font-weight: normal;
    background: none;
    padding: 2px 10px;
    border: none;
}

ul.menu.sub li li li a, ul.menu.sub li li li div {
    padding-left: 25px;
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 1em;
}

ul.menu.sub li li li li a, ul.menu.sub li li li li div {
    padding-left: 40px;
}

ul.menu.sub li li li li li a, ul.menu.sub li li li li li div {
    padding-left: 55px;
}

ul.menu.sub li li a.path, ul.menu.sub li li div.path {
    background: none;
}

ul.menu.sub li li a:hover, ul.menu.sub li li a.active, ul.menu.sub li li div.active {
    color: #3a65c7;
    background: none;
}

/* Footer menu */
ul.menu.footer {
    float: left;
    margin: 20px 0 0 0;
}

ul.menu.footer a.first, ul.menu.footer div.first {
    padding-left: 0;
}

ul.menu.footer a.last, ul.menu.footer div.last {
    border: 0;
}

ul.menu.footer a, ul.menu.footer div {
    color: #75726f;
    padding: 0 10px;
    border-right: 1px solid #75726f;
}

/* navigation menu */
#navigation-header {
    padding: 6px 10px;
    background-color: #f3f1ee;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin-bottom: 10px;
}

ul.menu.navigation {
    background-color: #e0dcd8;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding-right: 4px;
}

ul.menu.navigation a, ul.menu.navigation div {
    padding: 2px 10px;
    background: #f3f1ee;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

ul.menu.navigation div.active {
    font-weight: bold;
    color: #332f2d;
    background-color: #fff;
}

/* Article */
p.preface {
    font-size: 135%;
    line-height: 1.7;
    font-family: georgia, sans-serif;
}

/* events */
.date span {
    display: block;
    text-align: center;
}

.mini .date {
    margin: 0 10px 10px 0;
    width: 36px;
}

.mini .day {
    padding: 0 0 2px;
    font-size: 130%;
}

.mini .month {
    padding: 1px 0 0;
    font-size: 80%;
}

#time-location {
    background-color: #E0DCD8;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding: 6px 10px;
}

.date {
    border: 1px solid #335ab3;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    float: left;
    font-weight: bold;
    margin: 0 15px 10px 0;
    width: 50px;
    text-decoration: none;
    font-family:georgia,sans-serif;

}

.day {
    background-color: #335ab3;
    color: #335ab3;
    padding: 0 2px 4px;
    font-size: 180%;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

.month {
    background: #335ab3;
    color: #fff;
    padding: 3px 2px 1px;
    text-transform: uppercase;
}

/* forum */
#forum table h2, #forum p {
    margin: 0;
}

#forum .icons {
    width: 1%;
}

#forum .postings {
    text-align: right;
}

/* Share bar */
.share-bar li {
    margin-left: 10px;
}

.share-bar li.first {
    margin: 0;
}

/* Video */
.video.list .play-icon.dummy {
    background-color: #E0DCD8;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

/* File archive */
#file-archive .column {
    float: left;
    border-bottom: 1px solid #e0dcd8;
}

#file-archive a {
    color: #332f2d;
}

#file-archive .heading {
    font-weight: bold;
    background-color: #e0dcd8;
}

#file-archive .heading.name {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

#file-archive .heading.kind {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

/* Print CSS */
@media print {
    #logo-print {
        width: 144px;
        height: 63px;
    }
}