body { background: url("images/bg.png"); }
body.text-size-large { font-size: 80% !important; }
body.text-size-largest { font-size: 90% !important; }
div { overflow: hidden; }
#outer-container {
  margin: 0 auto;
  background-color: #f6f6f8;
  -moz-box-shadow: 0px 0px 25px #ced9dd;
  -webkit-box-shadow: 0px 0px 25px #ced9dd;
}
#middle-container, #header { padding: 28px; }
#footer {
  color: #ffffff;
  background-color: #343434;
  padding: 28px;
}
#footer a { color: #ffffff; }
#global-options {
  float: right;
  list-style: none;
}
#global-options li a {
  color: #5b5b5d;
  text-decoration: none;
}
#global-options li a.large-text { font-size: 1.2em; }
#global-options li a.largest-text { font-size: 1.4em; }
