#north {
  position:absolute;
  top:50px;
  left:360px;
  height: 250px;
  z-index:10;
  color: #000;
  vertical-align: middle;
  width:100%!important;
  float: left;
}
#north{
    width: 100%;
}
p.infoText {
    width: 200px;
    color: #fff;
    font-weight: bold;
    margin-left: 20px;
    margin-top:0;
    margin-bottom: 0;
    padding: 0;
}

div.spots-in-mini-list{
    width: 100%;
    height: 100%;
}
div.spots-in-mini-list>div{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    display:block;
    height:85px;
    overflow: visible;
    width: 100%;
    background-color: #000;
}

div.spots-in-mini-list {
    height: 100%;
}
div.spot-in-mini-list{
    height: 100%;
    width:100%;
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    color: #fff;
}
