ul.multiline {
       height: 64px;
       line-height: normal;
       margin: 0px;
}
ul.multiline li {
        display: inline;
        line-height: 44px;
        float: left;
        margin-left: 5px;
        margin-bottom: -8px;
}
ul.multiline li ul li{
    min-width: 80px;
    margin: 2px;
}

#travel-from {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #656565;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 4px #888888 inset;
    color: #646464;
    display: block;
    font-weight: bold;
    height: 19px;
    line-height: 19px;
    padding: 4px;
    width: 290px;
}
