#north {
    position:relative;
    z-index:10;
    color: #000;
    vertical-align: middle;
    width:100%!important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    background-color: #000;
    overflow: visible;
}
